.bars-container{
    position: relative;
    margin: 10px auto;
    height: 70%;
    // padding: 10px 30px;
    // display: flex;
    // flex-direction: row;
    // border: 1px solid red;
    // box-shadow: inset 1px 1px 4px black;
}