.bar{
    position: absolute;
    background-color: rgb(47, 174, 202);
    bottom: 0;
    transition: background-color 150ms ease-in-out
                left 100ms ease-in;

    &:hover{
        background-color: rgb(9, 73, 52);
    }
}