.bar{
    position: absolute;
    background-color: rgb(47, 202, 151);
    bottom: 0;
    transition: background-color 150ms ease-in-out
                left 100ms ease-in;
    width: 5px;

    &:hover{
        background-color: rgb(9, 73, 52);
    }
}