.app{
  width: 100%;
  height: 100%;
  /* border: 10px solid red; */
}

.app.inactive{
  position: relative;
  pointer-events: none;
}

.app.inactive::after{
  position: absolute;
  content: '';
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.1;

}